<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RemoteConnectionString" value="Host=XXX;Port=XXX;Username=XXX;Password=XXXX;Database=DevBlog"/>
    <add key="LocalConnectionString" value="Host=localhost;Port=5432;Username=a;Password=a;Database=DevBlog"/>
    <add key="ExportsDirectory" value="C:\ExportsDirectory\"/>
  </appSettings>
</configuration>