//@use 'abstracts/variables';
h1 {
	font-size: 40px;
	font-weight: bold;
}

// This should be changed to h2 in usage: TODO:
h3 {
	font-size: 50px;
	color: #fff;
	font-weight: bold;
	border-bottom: 2px solid #fff;
	margin-bottom: 10px;
}
