.breadcrumb {
  text-transform: uppercase;
  color: #fff;
  font-size: 17px;
  font-weight: 200;
  padding-bottom: 1px;
}

.breadcrumb span {
  font-family: Dosis, Arial, Helvetica, sans-serif;
}

.spacer {
  margin: 0 8px;
  display: inline-block;
}

.bread-crumb-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1 1 auto;
  margin-left: 15px;
  overflow: hidden;
  padding-top: 8px;
}
