.button-container {
    text-align: right;
  }
  
  .contact-form button {
    margin-top: 15px;
  }
  
  mat-card {
    min-height: 270px;
  }
  
  .confirm-message h2 {
    text-align: center;
    font-size: 40px;
  }
  