.button-container {
    text-align: right;
  }
  
  .contact-form button {
    margin-top: 15px;
  }
  
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card {
    min-height: 270px;
  }
  
  .confirm-message h2 {
    text-align: center;
    font-size: 40px;
  }
  